# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore models if you don’t want them yet
models/

# Ignore SQL and dashboard folders (for now)
git


# Ignore large datasets if needed
data/*.csv
data/*.xlsx